
html, body, main {
  height: 100%;
  width: 320px;
  overflow-x: hidden;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* best helvetica */
  font-family: "Gotham Rounded A", sans-serif;
  font-weight: 300;
  margin: 0;
  background-color: rgba(157, 173, 182, 0.5);
}

#table {
  height: 400px;
  width: 800px;
  background-color: rgba(157, 173, 182, 1);
  overflow: hidden;
  margin-left: -230px;
}

.card {
  float: left;
  margin: 10px;
  position: relative;
  padding: 20px;
  /* 6x9 cm */
  width: 240px;
  height: 360px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  /*background-image: url(back.jpg);*/
}

.card > h1 {
  font-size: 18px;
  margin-top: 26px;
  margin-bottom: 23px;
  font-weight: normal;
  height: 46px;
  line-height: 23px;
}

.card > p {
  font-size: 12px;
}

.card > .line {
  position: absolute;
  bottom: 100px;
  left: 70px;
  width: 100px;
  border-bottom: 2px dotted gray;
}

.card > .genre {
  text-transform: uppercase;
  position: absolute;
  bottom: 70px;
  left: 20px;
  width: 200px;
  color: #62A591;
  font-size: 10px;
  letter-spacing: 2px;
}

.card > .points {
  position: absolute;
  bottom: 0;
  left: 90px;
  color: white;
  background-color: #62A591;
  width: 60px;
  height: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  font-size: 20px;
  padding-top: 5px;
}

.card > .points > .points-label {
  text-transform: uppercase;
  font-size: 8px;
}

.card-transform {
  transform: translateX(-260px);
  transition: 1s ease-in-out;
}

.notransition {
  transition-delay: 0s;
  transition-duration: 0s;
}

#menu {
  text-align: center;
}

#menu > a {
  margin-left: 5px;
}
