
html, body, main {
  height: 100%;
  /*overflow-x: hidden;*/
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background-color: rgba(157, 173, 182, 0.3);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* best helvetica */
  font-family: "Gotham Rounded A", sans-serif;
  font-weight: 300;
  background-color: rgba(157, 173, 182, 0.5);
  /*width: 320px;*/
  max-height: 460px;
}

start-screen {
  display: none;
}

/* GAME */
#table {
  width: 100%;
  max-width: 300px;
  height: 400px;
  background-color: red; //rgba(157, 173, 182, 1);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;

  -webkit-scroll-snap-destination: 50% 50%;
  scroll-snap-destination: 50% 50%;
}

moniker-card {
  -webkit-scroll-snap-coordinate: 50% 50%;
  scroll-snap-coordinate: 50% 50%;
}

.card-transform {
  transform: translateX(-260px);
  transition: 1s ease-in-out;
}

.notransition {
  transition-delay: 0s;
  transition-duration: 0s;
}

#menu {
  text-align: center;
  margin-bottom: 20px;
}

#menu > a {
  margin-left: 5px;
}

