
html, body, main {
  height: 100%;
}
html {
  box-sizing: border-box;
  background-color: rgba(157, 173, 182, 0.3);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Gotham Rounded A", sans-serif;
  font-weight: 300;
  background-color: rgba(157, 173, 182, 0.5);
  max-height: 460px;
}

start-screen {
}

round-timer {
  display: none;
  position: fixed;
  top: 0px;
  left: 120px;
}

#table {
  display: none;
  width: 100%;
  max-width: 300px;
  height: 460px;
  background-color: rgba(157, 173, 182, 1);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;

  -webkit-scroll-snap-destination: 50% 50%;
  scroll-snap-destination: 50% 50%;
}

moniker-card {
  -webkit-scroll-snap-coordinate: 50% 50%;
  scroll-snap-coordinate: 50% 50%;
}
